@import url("https://fonts.googleapis.com/css2?family=Agdasima:wght@700&family=Belanosima:wght@600&family=Fraunces:wght@400;700&family=Freehand&family=Montserrat:wght@400;500;600&family=Outfit:wght@200;400;700&family=Playfair:wght@600&family=Raleway:wght@400;500&family=Roboto+Slab&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-image: url("https://w0.peakpx.com/wallpaper/219/340/HD-wallpaper-hogwarts-legacy-fantasy-harry-potter.jpg");
  background-size: 100% 100%;
  background-position: center;
  background-attachment: fixed;

  font-family: "Freehand", cursive;

  
}
h1 {
  
  backdrop-filter: blur(5rem);
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10rem;
  font-size: 10vw;
  color: white;
  padding: 2rem;
  margin: 1rem;
  border-radius: 5rem;
  letter-spacing: 1.5rem;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.p {
  
  height: 25rem;
  width: 20rem;
  margin: 1.5rem;
  display: flex;
  justify-content: center;
  border-radius: 3rem;
}

.p img {
  height: 100%;
  width: 50%;
  transition: all 0.3s ease-in-out;
}
.p img:hover
{
    transform: scale(1.05);
    cursor: pointer;
}
#sirius,
#moody,
#george,
#belatrix,
#flitwick,
#snape {
  height: 100%;
  width: 100%;
}
.g {
  /* background: linear-gradient(brown,white); */
  background-image: url("logo.png");
  background-size: cover;
  background-position: center;
  background-color:  #740001 ;
}
.s {
  background-image: url("sly.png");
  background-size: cover;
  background-position: center;
  background-color:  #2A623D ;
}
.r {
  background-image: url("https://www.pngmart.com/files/8/Ravenclaw-PNG-Transparent-Images.png");
  background-size: cover;
  background-position: center;
  background-color:  #0F1D4A ;
}
.nineteen {
  background-image: url("https://c4.wallpaperflare.com/wallpaper/494/399/714/harry-potter-hogwarts-castle-wallpaper-preview.jpg");
  background-position: center;
  background-size: cover;
}
