*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root
{
    --platinum:#E0E0E2;
    --chocolate:#5C1A1B;
}
body{
    min-height: 100vh;
    background-image: url("https://wallpaperaccess.com/full/794889.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}
nav{
    position: absolute;
    background-color:var(--platinum);
    top:1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width:50%;
    height: 3.5rem;
    border-radius: 3rem;
    z-index: 999;
}
nav ul
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:3rem;
    list-style: none;
    font-size: 2.5rem;
    color:var(--chocolate);
    font-weight: 700;
    
}
nav ul li:hover
{
    text-decoration: underline;
    cursor: pointer;
    text-shadow: 2px 2px 8px #87BCDE;
}
nav ul li a
{
    text-decoration: none;
    color: var(--chocolate);
}
#harry{
    width: 50%;
}
#wand
{
    position: absolute;
}